# ignore venv and idea
/wvenv/
.idea
note.txt
.vscode

# ignore data in folder know_faces
known_faces/*
!known_faces/.gitkeep

# ignore pycache
__pycache__/

# ignore credential
credential/*
!credential/.gitkeep

# ignore log
logs/*
!logs/.gitkeep